## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [17]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [30]:
# фильструем фильмы с рейтингом 5, считаем количество строк с определенным movie id
# значения выводятся по убыванию, поэтому 1ый в списке - фильм с наибольшим количеством оценок 5.0.
ratings[ratings.rating==5.0]['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

In [34]:
# название фильма с id 318
movies = pd.read_csv('movies.csv')
movies[movies['movieId']==318]

     movieId                             title       genres
277      318  Shawshank Redemption, The (1994)  Crime|Drama

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [3]:
power = pd.read_csv('power.csv')
power

          country  year  quantity  category
0         Austria  1996       5.0         1
1         Austria  1995      17.0         1
2         Belgium  2014       0.0         1
3         Belgium  2013       0.0         1
4         Belgium  2012      35.0         1
...           ...   ...       ...       ...
1189477  Viet Nam  2012      92.0        71
1189478  Viet Nam  2011      87.0        71
1189479  Viet Nam  2010      50.0        71
1189480  Viet Nam  2009      10.0        71
1189481  Viet Nam  2008       1.0        71

[1189482 rows x 4 columns]

In [11]:
# выбираю страны Балтии:
Baltic = power[(power['country']=='Latvia') | (power['country']=='Lithuania') | (power['country']=='Estonia')]

# далее из них осталяю только категории 4, 12, 21:
Baltic_categories = Baltic[(Baltic['category']==4) | (Baltic['category']==12) | (Baltic['category']==21)]

# за период с 2005 по 2010 года:
Baltic_categories_years = Baltic_categories[(Baltic_categories['year'] >= 2005) & (Baltic_categories['year'] <= 2010)]

# суммарное потребление (без учета отрицательных значений quantity): 
total = Baltic_categories_years.query('quantity > 0')['quantity'].sum()
total

240580.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

https://www.finanz.ru/valyuty/v-realnom-vremeni

In [24]:
url = 'https://minfin.gov.ru/ru/perfomance/nationalwealthfund/statistics/?id_65=93488-dannye_o_dvizhenii_sredstv_i_rezultatakh_upravleniya_sredstvami_fonda_natsionalnogo_blagosostoyaniya'
pd.read_html(url, encoding='utf-8')[0]

,№ п/п,Показатель,Январь 2008*,Февраль 2008,Март 2008,Апрель 2008,Май 2008,Июнь 2008,Июль 2008,Август 2008,...,Апрель 2020,Май 2020,Июнь 2020,Июль 2020,Август 2020,Сентябрь 2020,Октябрь 2020,Ноябрь 2020,Декабрь 2020,Unnamed: 158
0,1,Объем на начало периода,-,783.31,777.03,773.57,773.82,773.93,770.56,766.48,...,12 855.75,12 405.77,12 161.48,12 139.60,12 958.68,13 256.66,13 733.05,13 298.63,13 457.02,13 545.66
1,1.1.,Поступления,782.80,-,-,-,-,-,-,7.23,...,-,-,-,-,-,-,-,-,-,-
2,1.1.1.,в т.ч. доходы от размещения,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
3,1.2.,Изъятия,-,-,-,-,-,-,-,-,...,3.69,-,-,0.001,3.56,57.20,110.33,66.44,52.32,11.05
4,1.3.,Курсовая разница от переоценки активов в иност...,0.51,- 6.28,- 3.46,0.25,0.11,- 3.37,- 4.08,10.80,...,- 535.62,- 288.45,- 48.65,632.28,225.31,528.51,- 42.85,- 310.83,- 118.05,246.27
5,2,Объем на конец периода,783.31,777.03,773.57,773.82,773.93,770.56,766.48,784.51,...,"12 405,77***",12 161.48,12 139.60,12 958.68,13 256.66,13 733.05,"13298,63****",13 457.02,13 545.66,13 649.30
6,2.1.,в т.ч. в процентах к ВВП,1.9%,1.9%,1.9%,1.9%,1.9%,1.9%,1.9%,1.9%,...,10.9%,10.7%,10.7%,11.4%,11.7%,12.1%,11.7%,11.8%,11.7%,11.8%
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3,Справочно:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,3.1.,Объем средств фонда на конец периода (млрд. до...,32.00,32.22,32.90,32.72,32.60,32.85,32.69,31.92,...,168.35,171.89,173.54,176.64,177.61,172.34,167.63,177.39,183.36,179.00
10,3.2.,"Доходы от размещения, зачисленные в федеральны...",-,-,-,-,-,-,-,-,...,2.00,2.32,3.76,1.69,0.88,12.23,226.43,2.31,5.26,1.72
11,3.3.,Расчетная сумма дохода от размещения на счетах...,1.09,5.74,6.82,5.36,3.41,4.08,8.57,12.41,...,78.82,76.76,77.43,83.68,83.29,88.71,86.68,83.22,- 0.38,- 0.26
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,4,Валютная структура средств фонда на счетах в Б...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,4.1.,доллары США,10.42,14.31,14.31,14.31,14.31,14.31,14.31,14.45,...,53.42,53.38,53.36,53.23,53.16,52.82,51.89,51.50,51.24,51.25
15,4.2.,евро,12.73,9.74,9.74,9.74,9.74,9.74,9.74,9.83,...,46.02,45.98,45.96,45.85,45.78,45.49,44.71,44.38,44.17,44.17
16,4.3.,фунты стерлингов,1.39,1.62,1.62,1.62,1.62,1.62,1.62,1.63,...,8.92,8.91,8.91,8.89,8.88,8.82,8.66,8.59,8.55,8.55
17,4.4.,рубли,-,-,-,-,-,-,-,-,...,-,40.27,0.25,0.28,0.26,0.52,0.28,0.55,11.63,0.27
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,5,Размещено в иные разрешенные активы на конец п...,-,-,-,-,-,-,-,-,...,3 966.84,3 956.47,4 020.99,4 251.87,4 346.42,4 387.14,4 153.11,4 663.80,4 887.77,4 772.82
20,5.1.,рубли,-,-,-,-,-,-,-,-,...,"3 442,66***",3 453.19,3 523.40,3 730.01,3 815.49,3 820.31,3 588.79,4 124.18,4 362.27,4 230.41
21,5.2.,иностранная валюта,-,-,-,-,-,-,-,-,...,524.18,503.28,497.59,521.86,530.93,566.83,564.32,539.62,525.50,542.41